/* Begin header-bloc */
.mt-5{
    margin-top: 25px;
    height: 117px;
}
.mt-5 p{
    font-size: 19px;
}
.fb{
    font-weight: bold;
}
/* Begin body */
.content{
    background-color: #f3f3f3;
    width: 100%;
    height: 300px;
}
.test{
    width: 100%;
    height: 40px;
    background-color: #48bfff;
}
.test2 {
    width: 100%;
    height: 40px;
    background-color: #ff5cc1;
}
/* Sidebar */
.sidebar{
    background-color: #fff;
    height: 100px;
}
.sidebar2{
    background-color: #8a52ff;
    height: 100px;
}



